<ul class="sidebar-menu" data-widget="tree">
    <li class="header">菜单(MENU)</li>

    @foreach (var item in (ViewData["Menu"] as List<MenuViewModel>).OrderBy(order => order.Sort))
    {
        @await Html.PartialAsync("_MenuItemPartial", item)
    }
    
    @*<li class="active"><a href="#"><i class="fa fa-link"></i> <span>Link</span></a></li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-link"></i> <span>Multilevel</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="#"><i class="fa fa-circle-o"></i>Link in level 2</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i>Link in level 2</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-share"></i> <span>Multilevel</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-circle-o"></i> Level One
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-circle-o"></i> Level Two</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i> Level Two</a></li>
                </ul>
            </li>
        </ul>
    </li>*@
</ul>