<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>认证平台 | @ViewBag.Title</title>

    <link href="~/plugins/fontawesome-free/css/all.css" rel="stylesheet" />
    <link href="~/css/adminlte.css" rel="stylesheet" />
</head>
<body class="hold-transition login-page">

    @RenderBody()

    <script src="~/js/adminlte.js"></script>
</body>
</html>
